[Desktop Entry]
Encoding=UTF-8
Name=UEFI Stub Installer
Name[ca]=UEFI Stub Installer
Name[de]=UEFI Stub Installer
Name[el]=UEFI Stub Installer
Name[es]=UEFI Stub Installer
Name[fr]=UEFI Stub Installer
Name[it]=UEFI Stub Installer
Name[ja]=UEFI Stub Installer
Name[nl]=UEFI Stub Installer
Name[sv]=UEFI Stub Installer
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=uefi-stub-installer
Terminal=false
Type=Application
Icon=uefi-stub-installer
Categories=GNOME;GTK;System;
NoDisplay=false
