[Desktop Entry]
Encoding=UTF-8
Name=UEFI Manager
Name[ca]=UEFI Manager
Name[de]=UEFI Manager
Name[el]=UEFI Manager
Name[es]=UEFI Manager
Name[fr]=UEFI Manager
Name[it]=UEFI Manager
Name[ja]=UEFI Manager
Name[nl]=UEFI Manager
Name[sv]=UEFI Manager
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=uefi-manager
Terminal=false
Type=Application
Icon=uefi-manager
Categories=GNOME;GTK;System;
NoDisplay=false
